@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* height */
  --nav-height: 10rem;
  --btn-height: 2.5rem;

  /* padding */
  --px: 25rem;
  --md-px: 1.5rem;


  /* font size */
  --normal-font-size: 18px;
}


/* base custom style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: input-mono, monospace;
}

/* banner */
.banner {
  content: "";
  position: absolute;
  inset: 0;
  --size: 75px;
  background-color: white;
  background:
    linear-gradient(hsl(0, 13%, 95%) 0 2px,
      transparent 2px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(90deg,
      hsl(0, 13%, 95%) 0 2px,
      transparent 2px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(180deg, white, transparent);
  z-index: -10;
}