@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* height */
  --header-height: 8rem;
  --btn-height: 2.5rem;

  /* padding */
  --px: 5rem;
  --md-px: 1.5rem;


  /* font size */
  --normal-font-size: 18px;
}


/* base custom style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: input-mono, monospace;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

